<nav class="navbar navbar-fixed-top navbar-transparent" role="navigation">
  <div class="container">
    <div class="row">
			<div class="col-md-12 top-navbar">
				<header id="masthead" class="site-header" role="banner">
					<div class="navbar-header">

            <button type="button" class="menu-toggle navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                   </button>
                    <h1 class="site-title"><a href="http://demo.themely.com/parallel/" title="// Parallel" rel="home">SAPHIRE</a></h1>    
                    </div>
                    <div class="navigation-top">
                        <div class="wrap">
                        	<div id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">          
                          <div class="menu-top-menu-container"><ul id="top-menu" class="menu"><li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6 current_page_item menu-item-15 active"><a href="http://demo.themely.com/parallel/">Home</a></li>
<li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="#work">Projects</a></li>
<li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a href="#services">Services</a></li>
<li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22"><a href="#about">About</a></li>
<li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23"><a href="#contact">Contact</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="http://demo.themely.com/parallel/blog/">Blog</a></li>
<li id="menu-item-92" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-92"><a href="#">Page Templates</a><button class="dropdown-toggle" aria-expanded="false"><span class="fa fa-chevron-down icon"></span></button>
<ul class="sub-menu">
	<li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="http://demo.themely.com/parallel/page-with-sidebar/">Page with Sidebar</a></li>
	<li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="http://demo.themely.com/parallel/full-width-page/">Full-width Page</a></li>
</ul>
</li>
</ul></div>
                                </div><!-- #site-navigation -->
                            </div><!-- .wrap -->
                    </div><!-- .navigation-top -->
                    </header>
                </div>
           </div>
        </div>
    </nav>

<section id="welcome" class="hero " style="background-position: 50% 0px;">
<div class="blacklayer"></div><div class="container">
	<div class="row">
        		        <div class="col-md-12">
			<div class="title text-center" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; ">
			<h1>Travel With Comfirt</h1>						</div>
			            <div class="lead text-center" data-sr-id="3" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; ">
                <p>Our Aim is to Provide Comfirt with Satisfication.
<br>Create a stunning website in minutes.</p>
            </div>
            									<div class="col-md-12 text-center" data-sr-id="4" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; ">
                <a href="#" class="btn btn-lg btn-primary">Book Now</a>
			</div>
					</div>
        	</div>
</div>
</section><!--hero--><section id="features" class="features border-top border-bottom" style="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
				<h2 class="title">Main Benefits<span></span></h2>                <p class="subtitle">Reasons why you should choose this product</p>			</div>
		</div>
		<div class="row multi-columns-row">
			                <div class="col-sm-4 col-md-4 col-lg-4"><div class="feature" data-sr-id="6" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-paper-plane-o"></i><h3>Launch Your Business</h3><p>Quis autem vel eum iure reprehen derit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
</div></div><div class="col-sm-4 col-md-4 col-lg-4"><div class="feature" data-sr-id="7" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa fa-database"></i><h3>Optimized For Speed</h3><p>Quis autem vel eum iure reprehen derit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
</div></div><div class="col-sm-4 col-md-4 col-lg-4"><div class="feature" data-sr-id="8" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-heart"></i><h3>Loved By Many</h3><p>Quis autem vel eum iure reprehen derit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
</div></div>            		</div>
	</div>
</section><!--features-->
<section id="work" class="work " style="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
                <h2 class="title">Our Work<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
			<div class="col-md-12">
                <p><img class="alignright wp-image-37 img-responsive" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/magazine-1.jpg" alt="" srcset="http://demo.themely.com/parallel/wp-content/uploads/2017/05/magazine-1.jpg 980w, http://demo.themely.com/parallel/wp-content/uploads/2017/05/magazine-1-300x200.jpg 300w, http://demo.themely.com/parallel/wp-content/uploads/2017/05/magazine-1-768x511.jpg 768w" sizes="(max-width: 580px) 100vw, 580px" width="580" height="386"><strong>Phasellus
 gravida luctus nunc, eu maximus ipsum efficitur quis. Nulla volutpat at
 ante interdum mattis. Maecenas sit amet lorem ut mauris posuere 
rhoncus. Phasellus mi turpis, condimentum nec dolor ut, interdum blandit
 nulla. </strong></p>
<p>Nullam sed lorem finibus orci vestibulum ornare. Duis at est sodales 
lorem tincidunt mattis. Sed et lorem commodo, viverra ante quis, mollis 
dui. Maecenas lobortis pharetra interdum. Sed eu magna eget mauris 
pharetra blandit.</p>
<p>Suspendisse potenti. Nunc a condimentum tortor, non porta massa. Nunc
 vestibulum mi vestibulum congue pharetra. Nam sit amet erat quis justo 
semper mollis. Donec ut accumsan justo. Aliquam erat volutpat. Cras 
euismod hendrerit ex, nec tempor eros elementum hendrerit. Ut tempor 
diam odio, et aliquam eros dapibus nec. Suspendisse mollis et lectus sit
 amet tempor. Class aptent taciti sociosqu ad litora torquent per 
conubia nostra, per inceptos himenaeos. Nam accumsan lectus sit amet 
orci dignissim laoreet. Curabitur iaculis risus eu nisl porttitor 
interdum. Donec eu nisi non nisi egestas aliquam.</p>
<p>Sed risus erat, consectetur id turpis vel, finibus euismod massa. 
Aenean sit amet tristique purus. Praesent enim lorem, tincidunt ac eros 
vel, vulputate ultricies ante. In congue lorem quis sem commodo semper 
quis nec ipsum. Proin cursus elit a scelerisque dapibus. Sed tempor 
feugiat sodales. Nullam sit amet ipsum ut tortor dictum dapibus. Sed 
vulputate enim purus, a porta sem hendrerit ac. Nullam facilisis 
scelerisque faucibus. Suspendisse a ultricies quam. Pellentesque 
venenatis purus vitae quam facilisis, vel fringilla augue posuere. Etiam
 massa massa, rhoncus non est quis, dignissim pharetra enim.</p>
			</div><!--feature-->
		</div>
	</div>
</section><!--work-->
<section id="gallery" class="gallery " style="">
	<div class="container">
		<div class="row">
            <div class="col-md-12 heading">			
				<h2 class="title">Photo Gallery<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
		</div>
	</div>
		<div class="container-fluid">
		<div class="row multi-columns-row no-gutter">
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project1.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project1.jpg" class="img-responsive" alt="project1">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project2.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project2.jpg" class="img-responsive" alt="project2">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project3.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project3.jpg" class="img-responsive" alt="project3">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project4.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project4.jpg" class="img-responsive" alt="project4">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project5.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project5.jpg" class="img-responsive" alt="project5">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project6.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project6.jpg" class="img-responsive" alt="project6">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project7.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project7.jpg" class="img-responsive" alt="project7">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project8.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project8.jpg" class="img-responsive" alt="project8">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project9.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project9.jpg" class="img-responsive" alt="project9">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project10.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project10.jpg" class="img-responsive" alt="project10">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project11.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project11.jpg" class="img-responsive" alt="project11">
		    </a>
				        <a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project12.jpg" class="col-md-3 lightbox" title="">
		            <img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project12.jpg" class="img-responsive" alt="project12">
		    </a>
				</div>
	</div>
	</section><!--slider-->
<section id="projects" class="project-single " style="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
                <h2 class="title">Projects Single<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
                            <div class="col-md-12 project" data-sr-id="10" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="row"><div class="col-md-5 description"><h3 class="widget-title">ABC Widgets UI Design</h3><p>Quis
 autem vel eum iure reprehen derit qui in ea voluptate velit esse quam 
nihil molestiae consequatur. Ut tincidunt libero sed tortor vulputate, 
sit amet interdum urna eleifend. Ut porta justo a mauris aliquam 
tincidunt. 
<br>
<br>Duis tortor metus, accumsan in elit eget, porttitor sollicitudin 
ante. Sed in nunc sem. Ut tincidunt libero sed tortor vulputate, sit 
amet interdum urna eleifend. Ut porta justo a mauris aliquam tincidunt.</p><div class="details"><p>Date: <span>2017-04-12</span></p><p>Client: <span>ABC Widgets Co.</span></p><p>Skills: <span>Graphic Design, Front-end Development</span></p><p><a target="_blank" href="#">View Project →</a></p></div></div><div class="col-md-7 project-gallery slider slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3265px; transform: translate3d(-1959px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 653px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/slide3.jpg" class="img-responsive center-block" alt=""></div><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 653px;" tabindex="-1" role="option" aria-describedby="slick-slide00"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/slide1.jpg" class="img-responsive center-block" alt=""></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 653px;" tabindex="-1" role="option" aria-describedby="slick-slide01"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/slide2.jpg" class="img-responsive center-block" alt=""></div><div class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 653px;" tabindex="-1" role="option" aria-describedby="slick-slide02"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/slide3.jpg" class="img-responsive center-block" alt=""></div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 653px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/slide1.jpg" class="img-responsive center-block" alt=""></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01" class=""><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02" class="slick-active"><button type="button" data-role="none" role="button" tabindex="0">3</button></li></ul></div></div></div>             
		</div>
	</div>
</section><!--slider-->
<section id="projects-grid" class="projects-grid " style="">
	<div class="container">
		<div class="col-md-12 heading">
            <h2 class="title">Projects Grid<span></span></h2>            <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>        </div>
                <div class="row multi-columns-row">
            <div class="col-sm-4 col-md-4 col-lg-4 grid" data-sr-id="12" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project3.jpg" rel="prettyPhoto" title="PRESENTATION" class="fancybox-thumb hovereffect"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project3.jpg" alt="PRESENTATION" class="img-responsive center-block"><span></span></a><h3 class="widget-title">PRESENTATION</h3><p></p><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla reprehenderit.</p>
<p></p></div><div class="col-sm-4 col-md-4 col-lg-4 grid" data-sr-id="13" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project1.jpg" rel="prettyPhoto" title="LOGO" class="fancybox-thumb hovereffect"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project1.jpg" alt="LOGO" class="img-responsive center-block"><span></span></a><h3 class="widget-title">LOGO</h3><p></p><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla reprehenderit.</p>
<p></p></div><div class="col-sm-4 col-md-4 col-lg-4 grid" data-sr-id="14" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project2.jpg" rel="prettyPhoto" title="CD COVER" class="fancybox-thumb hovereffect"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project2.jpg" alt="CD COVER" class="img-responsive center-block"><span></span></a><h3 class="widget-title">CD COVER</h3><p></p><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla reprehenderit.</p>
<p></p></div><div class="col-sm-4 col-md-4 col-lg-4 grid" data-sr-id="15" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project10.jpg" rel="prettyPhoto" title="PSD MOCKUP" class="fancybox-thumb hovereffect"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project10.jpg" alt="PSD MOCKUP" class="img-responsive center-block"><span></span></a><h3 class="widget-title">PSD MOCKUP</h3><p></p><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla reprehenderit.</p>
<p></p></div><div class="col-sm-4 col-md-4 col-lg-4 grid" data-sr-id="16" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project9.jpg" rel="prettyPhoto" title="PAPER CUP" class="fancybox-thumb hovereffect"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project9.jpg" alt="PAPER CUP" class="img-responsive center-block"><span></span></a><h3 class="widget-title">PAPER CUP</h3><p></p><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla reprehenderit.</p>
<p></p></div><div class="col-sm-4 col-md-4 col-lg-4 grid" data-sr-id="17" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><a href="http://demo.themely.com/parallel/wp-content/uploads/2017/05/project12.jpg" rel="prettyPhoto" title="T-SHIRT" class="fancybox-thumb hovereffect"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/project12.jpg" alt="T-SHIRT" class="img-responsive center-block"><span></span></a><h3 class="widget-title">T-SHIRT</h3><p></p><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla reprehenderit.</p>
<p></p></div>        </div>
        	</div>
</section><!--projects-grid-->
<!-- <section id="clients" class="clients " style="">
	<div class="container">
        <div class="row">
			<div class="col-md-12 heading">			
				<h2 class="title">Our Clients<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
        </div>
                <div class="row multi-columns-row">
        	<div class="clients-slider slider slick-initialized slick-slider">
            	<div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4095px; transform: translate3d(-1560px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-6" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-03.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-02.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-01.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-06.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-05.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-04.png" class="img-responsive center-block"></div><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide20"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-06.png" class="img-responsive center-block"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide21"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-05.png" class="img-responsive center-block"></div><div class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide22"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-04.png" class="img-responsive center-block"></div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide23"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-03.png" class="img-responsive center-block"></div><div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide24"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-02.png" class="img-responsive center-block"></div><div class="slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide25"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-01.png" class="img-responsive center-block"></div><div class="slick-slide slick-active" data-slick-index="6" aria-hidden="false" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide26"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-06.png" class="img-responsive center-block"></div><div class="slick-slide slick-active" data-slick-index="7" aria-hidden="false" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide27"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-05.png" class="img-responsive center-block"></div><div class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide28"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-04.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-06.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-05.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-04.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-03.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-02.png" class="img-responsive center-block"></div><div class="slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" style="width: 195px;" tabindex="-1"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/client-01.png" class="img-responsive center-block"></div></div></div>            </div>
		</div>
        	</div>
</section> -->
<!--clients-->
<section id="stats" class="stats " style="">
	<div class="blacklayer"></div>	<div class="container">
        <div class="row multi-columns-row">
        	                <div class="col-sm-3 col-md-3 col-lg-3"><i class="fa fa-code icon"></i><div class="number"><p><span class="prefix"></span><span class="counter">256,897</span><span class="sufix"></span></p></div><p>Lines of Code</p>
</div><div class="col-sm-3 col-md-3 col-lg-3"><i class="fa fa-coffee icon"></i><div class="number"><p><span class="prefix"></span><span class="counter">300</span><span class="sufix"></span></p></div><p>Cups of Coffee</p>
</div><div class="col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar icon"></i><div class="number"><p><span class="prefix"></span><span class="counter">8</span><span class="sufix">+</span></p></div><p>Years in Business</p>
</div><div class="col-sm-3 col-md-3 col-lg-3"><i class="fa fa-users icon"></i><div class="number"><p><span class="prefix"></span><span class="counter">99</span><span class="sufix">%</span></p></div><p>Customer Satisfaction</p>
</div>            	
		</div>
	</div>
</section><!--stats-->
<!-- <section id="testimonials" class="testimonials " style="">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">Testimonials<span></span></h2>        </div>
                <div class="col-md-12 margin-top-30">
            <div class="testimonial-slider slider slick-initialized slick-slider slick-dotted" role="toolbar">
                <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4560px; transform: translate3d(-2280px, 0px, 0px); transition: transform 500ms ease 0s;" role="listbox"><li class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 340px;" tabindex="-1"><blockquote><p>Aliquam
 odio arcu, semper vitae iaculis bibendum, malesuada ac tortor. Cras 
ligula arcu, dapibus eu placerat quis, pretium sed arcu. Phasellus 
aliquet et dolor in bibendum. Maecenas est leo, aliquam.</p>
</blockquote><h3>Gregory Doe</h3></li><li class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 340px;" tabindex="-1"><blockquote><p>Class
 aptent taciti sociosqu ad litora torquent per conubia nostra, per 
inceptos himenaeos. Phasellus quis consequat quam. Etiam vehicula, dui 
et eleifend viverra, tortor arcu maximus orci, in semper est.</p>
</blockquote><img class="img-responsive img-circle" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/user-2.jpg"><h3>Ashley Doe</h3></li><li class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 340px;" tabindex="-1"><blockquote><p>Maecenas
 libero lectus, dignissim in consectetur id, pretium a leo. Cras 
hendrerit leo est, sed sagittis augue tincidunt quis. Donec id libero eu
 sapien lobortis interdum quis eget mi.</p>
</blockquote><h3>Hans Doe</h3></li><li class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 340px;" tabindex="-1" role="option" aria-describedby="slick-slide10"><blockquote><p>Maecenas
 cursus dignissim suscipit. Orci varius natoque penatibus et magnis dis 
parturient montes, nascetur ridiculus mus. Phasellus vehicula feugiat 
bibendum. Praesent nec volutpat nunc. Fusce ut nisi eu odio facilisis.</p>
</blockquote><img class="img-responsive img-circle" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/user-1.jpg"><h3>John Doe</h3></li><li class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 340px;" tabindex="-1" role="option" aria-describedby="slick-slide11"><blockquote><p>Cras
 volutpat sit amet erat nec auctor. Sed faucibus, nunc sit amet mattis 
rutrum, dui enim gravida nisl, eu ornare mauris enim ut sapien. 
Curabitur a justo et ante tincidunt.</p>
</blockquote><h3>Janelle Doe</h3></li><li class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 340px;" tabindex="-1" role="option" aria-describedby="slick-slide12"><blockquote><p>Mauris
 enim lectus, accumsan nec pharetra sit amet, euismod nec nulla. Donec 
ac mi ut nibh pretium placerat. Sed hendrerit in sem id tincidunt. 
Curabitur dui dolor, tincidunt et bibendum.</p>
</blockquote><img class="img-responsive img-circle" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/user-3-1.jpg"><h3>Michael Doe</h3></li><li class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" style="width: 340px;" tabindex="-1" role="option" aria-describedby="slick-slide13"><blockquote><p>Aliquam
 odio arcu, semper vitae iaculis bibendum, malesuada ac tortor. Cras 
ligula arcu, dapibus eu placerat quis, pretium sed arcu. Phasellus 
aliquet et dolor in bibendum. Maecenas est leo, aliquam.</p>
</blockquote><h3>Gregory Doe</h3></li><li class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 340px;" tabindex="-1" role="option" aria-describedby="slick-slide14"><blockquote><p>Class
 aptent taciti sociosqu ad litora torquent per conubia nostra, per 
inceptos himenaeos. Phasellus quis consequat quam. Etiam vehicula, dui 
et eleifend viverra, tortor arcu maximus orci, in semper est.</p>
</blockquote><img class="img-responsive img-circle" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/user-2.jpg"><h3>Ashley Doe</h3></li><li class="slick-slide slick-active" data-slick-index="5" aria-hidden="false" style="width: 340px;" tabindex="-1" role="option" aria-describedby="slick-slide15"><blockquote><p>Maecenas
 libero lectus, dignissim in consectetur id, pretium a leo. Cras 
hendrerit leo est, sed sagittis augue tincidunt quis. Donec id libero eu
 sapien lobortis interdum quis eget mi.</p>
</blockquote><h3>Hans Doe</h3></li><li class="slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 340px;" tabindex="-1"><blockquote><p>Maecenas
 cursus dignissim suscipit. Orci varius natoque penatibus et magnis dis 
parturient montes, nascetur ridiculus mus. Phasellus vehicula feugiat 
bibendum. Praesent nec volutpat nunc. Fusce ut nisi eu odio facilisis.</p>
</blockquote><img class="img-responsive img-circle" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/user-1.jpg"><h3>John Doe</h3></li><li class="slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 340px;" tabindex="-1"><blockquote><p>Cras
 volutpat sit amet erat nec auctor. Sed faucibus, nunc sit amet mattis 
rutrum, dui enim gravida nisl, eu ornare mauris enim ut sapien. 
Curabitur a justo et ante tincidunt.</p>
</blockquote><h3>Janelle Doe</h3></li><li class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 340px;" tabindex="-1"><blockquote><p>Mauris
 enim lectus, accumsan nec pharetra sit amet, euismod nec nulla. Donec 
ac mi ut nibh pretium placerat. Sed hendrerit in sem id tincidunt. 
Curabitur dui dolor, tincidunt et bibendum.</p>
</blockquote><img class="img-responsive img-circle" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/user-3-1.jpg"><h3>Michael Doe</h3></li></div></div>            <ul class="slick-dots" style="display: block;" role="tablist"><li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation10" id="slick-slide10"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation11" id="slick-slide11" class="slick-active"><button type="button" data-role="none" role="button" tabindex="0">2</button></li></ul></div>
        </div>
            </div>
</div>
</section><!--Parallax1--> -->
<section id="services" class="services " style="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
				<h2 class="title">Services<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
			                <div class="col-md-12">
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Morbi volutpat commodo enim aliquet laoreet. Mauris vel egestas erat, 
vitae feugiat ligula. Cras quis commodo ex, consequat consectetur quam. 
Etiam accumsan in nunc vitae bibendum. Curabitur dignissim non nisi quis
 vestibulum. Quisque porta ipsum vitae metus tempus, vel convallis dui 
efficitur. Praesent vitae mattis augue. Curabitur ornare mollis mi, at 
laoreet leo tempor id. Nam ornare erat vel augue tempor pretium. Morbi 
porta pellentesque dolor ullamcorper viverra. Phasellus mattis ipsum 
eget ipsum cursus, id interdum nibh laoreet.</p>
                </div>
                    </div>
                <div class="row multi-columns-row">
            <div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="19" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-code"></i><h3>Web Development</h3><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla.</p>
</div><div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="20" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-coffee"></i><h3>Consulting</h3><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla.</p>
</div><div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="21" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-paint-brush"></i><h3>Graphic Design</h3><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla.</p>
</div><div class="col-sm-6 col-md-6 col-lg-6 service" data-sr-id="22" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><i class="fa fa-line-chart"></i><h3>Marketing</h3><p>Quis
 autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo 
voluptas nulla.</p>
</div>        </div>
        	</div>
</section><!--services-->
<section id="pts" class="pts border-top border-bottom" style="">
	<div class="container">
		<div class="row">
            <div class="col-md-12 heading">			
				<h2 class="title">Pricing<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
		</div>
		<div class="row">
            <div class="col-md-12">			
							</div>
		</div>
        <div class="row multi-columns-row">
        	                <div class="col-sm-4 col-md-4 col-lg-4"><div class="pt" data-sr-id="24" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="pt_main" style="background-color:#5bc0de;">FREE<span></span><h3>Parallel Lite</h3></div><ul class="pt_list"><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li></ul><div class="pt_button"><a href="#" style="background-color:#5bc0de;border-color:#5bc0de;" class="btn btn-lg btn-primary">Download</a></div></div></div><div class="col-sm-4 col-md-4 col-lg-4"><div class="pt" data-sr-id="25" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="pt_main" style="background-color:#f74d4e;">$67<span>/ theme</span><h3>Parallel Pro</h3></div><ul class="pt_list"><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li></ul><div class="pt_button"><a href="#" style="background-color:#f74d4e;border-color:#f74d4e;" class="btn btn-lg btn-primary">BUY NOW</a></div></div></div><div class="col-sm-4 col-md-4 col-lg-4"><div class="pt" data-sr-id="26" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="pt_main" style="background-color:;">$99<span>/ year</span><h3>Membership</h3></div><ul class="pt_list"><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li><li>Lorem Ipsum Dolor</li></ul><div class="pt_button"><a href="#" style="background-color:;border-color:;" class="btn btn-lg btn-primary">Subscribe</a></div></div></div>            	
        </div>
	</div>
</section><!--pts-->
<!-- <section id="brands" class="brands " style="">
	<div class="container">
        <div class="row">
			<div class="col-md-12 heading">			
				<h2 class="title">Our Brands<span></span></h2>				<p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
        </div>
                <div class="row multi-columns-row">
            <div class="col-sm-2 col-md-2 col-lg-2"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/brand1.png" class="img-responsive center-block"></div><div class="col-sm-2 col-md-2 col-lg-2"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/brand2.png" class="img-responsive center-block"></div><div class="col-sm-2 col-md-2 col-lg-2"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/brand3.png" class="img-responsive center-block"></div><div class="col-sm-2 col-md-2 col-lg-2"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/brand4.png" class="img-responsive center-block"></div><div class="col-sm-2 col-md-2 col-lg-2"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/brand5.png" class="img-responsive center-block"></div><div class="col-sm-2 col-md-2 col-lg-2"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/brand6.png" class="img-responsive center-block"></div>		</div>
        	</div>
</section> -->
<!--brands-->
<section id="calltoaction" class="calltoaction " style="background-position: 50% 346px;">
    <div class="blacklayer"></div>    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">         
                <h2 class="title">Choose Parallel<span></span></h2>                <p class="subtitle">Don’t settle for any theme for your Website, Parallel is the best choice &amp; you can buy it today at an affordable price!</p>            </div>
                            <div class="col-md-6 text-right">
                <a href="#" class="btn btn-lg btn-secondary">Purchase Today</a>                </div>
                
                                <div class="col-md-6 text-left">
                <a href="#" class="btn btn-danger btn-lg btn-primary">Download Now</a>                </div>
                    </div>
    </div>
</section><!--parallax2-->
<section id="calltoaction2" class="calltoaction2 " style="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 text-left">
                <h2>Build Your Website with Parallel</h2>                <p>Lorem ipsum veniam adipisicing cupidatat dolor do adipisicing commodo.</p>            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 text-right cta-button">
                <a href="#" class="btn btn-lg btn-xl btn-secondary">Download</a>            </div>
        </div>
    </div>
</section><!--parallax2-->
<section id="about" class="about " style="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading">
				<h2 class="title">About<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
			<div class="col-md-12">
                <p><img class="alignleft size-full wp-image-66 img-responsive" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/office.jpeg" alt="" srcset="http://demo.themely.com/parallel/wp-content/uploads/2017/05/office.jpeg 640w, http://demo.themely.com/parallel/wp-content/uploads/2017/05/office-300x200.jpeg 300w" sizes="(max-width: 640px) 100vw, 640px" width="400" height="auto"><strong>Proin
 aliquam ligula vel ligula pulvinar tincidunt. Suspendisse potenti. Cras
 sit amet rutrum erat. Aliquam ultrices blandit sapien, vitae pulvinar 
sem tincidunt vitae. Nam ultrices fermentum nunc et porta. Quisque 
ullamcorper sapien congue lorem porttitor volutpat.</strong></p>
<p>Sed varius vel ligula non luctus. Donec sagittis rhoncus purus ut 
fermentum. Donec volutpat purus quam, tincidunt venenatis risus 
tincidunt sed. Curabitur quis risus lorem. Proin consequat mauris 
fermentum massa dictum, id molestie turpis pharetra. Suspendisse at 
tempus lacus.</p>
<p>Sed quis nulla accumsan, cursus diam suscipit, congue sem. Proin 
semper augue id ligula convallis, in tincidunt ipsum maximus. Morbi 
semper ante in justo feugiat faucibus. Curabitur sollicitudin tincidunt 
metus et ullamcorper. Maecenas cursus eleifend dui, id sagittis erat 
blandit eu. Morbi sit amet sapien commodo, imperdiet sapien a, convallis
 sem. Pellentesque sollicitudin commodo lacinia.</p>
<p>Nulla facilisi. Vestibulum in consectetur sapien. Duis dapibus 
ullamcorper nulla, vel lacinia lectus feugiat et. In eu sem id mauris 
volutpat scelerisque. Suspendisse in magna faucibus, dictum odio 
pharetra, molestie lectus. In hac habitasse platea dictumst. Nam et 
dolor eu nisl malesuada feugiat quis ut lectus. Vivamus libero ipsum, 
lacinia non ipsum vel, elementum tincidunt est. Donec imperdiet ac metus
 nec pharetra. Maecenas sit amet est mauris. Proin sit amet tellus 
facilisis, convallis orci ac, bibendum ex. Vivamus consectetur tempor 
tortor id porta. Fusce maximus eget justo pulvinar placerat.</p>
<blockquote><p>Aenean commodo quis dui in tincidunt. Mauris ac laoreet 
justo. Sed in porttitor eros. Donec in pellentesque ante, vel 
pellentesque velit. Quisque nec eros sapien. Proin congue tortor 
tincidunt est commodo, in congue sem faucibus. Vivamus vel commodo nunc.
 Maecenas ultrices eros sit amet suscipit molestie.</p></blockquote>
<p>Etiam ultrices tellus vitae libero mattis, a pharetra mi feugiat. 
Nullam vitae velit ut magna egestas lacinia eget at massa. Donec 
efficitur id nisl a feugiat. Class aptent taciti sociosqu ad litora 
torquent per conubia nostra, per inceptos himenaeos. Ut egestas quis 
neque ac commodo. Quisque sit amet augue quis ante placerat dictum a sed
 erat. Nunc ac quam et libero aliquet aliquet vel at lorem.</p>
			</div><!--feature-->
		</div>
	</div>
</section><!--about-->
<section id="video" class="video " style="">
<div class="blacklayer"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p><a href="https://www.youtube.com/watch?v=dpsWv794hFI" class="icon popup-video"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/play-btn.png"></a></p>
			<h3>Aliquam interdum felis eget felis semper, nec tristique nunc finibus.</h3>
		</div>
	</div>
</div>
</section><!--video-->
<section id="team" class="team " style="">
	<div class="container">
        <div class="row">
			<div class="col-md-12 heading">			
				<h2 class="title">Team Members<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
        </div>
                <div class="row multi-columns-row">
            <div class="col-sm-6 col-md-6 col-lg-6 member" data-sr-id="28" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="row"><div class="col-xs-12 col-sm-5 col-md-5"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/about-pic.jpg" alt="Hans Desjarlais" class="img-responsive"></div><div class="col-xs-12 col-sm-7 col-md-7"><h3 class="name">Hans Desjarlais</h3><div class="position">President &amp; CEO</div><p>Duis
 tortor metus, accumsan in elit eget, porttitor sollicitudin ante. Sed 
in nunc sem. Ut tincidunt libero sed tortor vulputate, sit amet interdum
 urna eleifend. Ut porta justo a mauris aliquam tincidunt.</p>
<ul class="socials"><li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li><li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li><li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li><li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li></ul></div></div></div><div class="col-sm-6 col-md-6 col-lg-6 member" data-sr-id="29" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="row"><div class="col-xs-12 col-sm-5 col-md-5"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/about-pic2.jpg" alt="Janelle Brandon" class="img-responsive"></div><div class="col-xs-12 col-sm-7 col-md-7"><h3 class="name">Janelle Brandon</h3><div class="position">Vice-President &amp; CTO</div><p>Duis
 tortor metus, accumsan in elit eget, porttitor sollicitudin ante. Sed 
in nunc sem. Ut tincidunt libero sed tortor vulputate, sit amet interdum
 urna eleifend. Ut porta justo a mauris aliquam tincidunt.</p>
<ul class="socials"><li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li><li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li><li><a href="#"><i class="fa fa-behance fa-lg"></i></a></li><li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li></ul></div></div></div><div class="col-sm-6 col-md-6 col-lg-6 member" data-sr-id="30" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="row"><div class="col-xs-12 col-sm-5 col-md-5"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/about-pic3.jpg" alt="Eric Kelly" class="img-responsive"></div><div class="col-xs-12 col-sm-7 col-md-7"><h3 class="name">Eric Kelly</h3><div class="position">Senior Programmer</div><p>Duis
 tortor metus, accumsan in elit eget, porttitor sollicitudin ante. Sed 
in nunc sem. Ut tincidunt libero sed tortor vulputate, sit amet interdum
 urna eleifend. Ut porta justo a mauris aliquam tincidunt.</p>
<ul class="socials"><li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li><li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li><li><a href="#"><i class="fa fa-github fa-lg"></i></a></li></ul></div></div></div><div class="col-sm-6 col-md-6 col-lg-6 member" data-sr-id="31" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; "><div class="row"><div class="col-xs-12 col-sm-5 col-md-5"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/user-1.jpg" alt="Michael de Laat" class="img-responsive"></div><div class="col-xs-12 col-sm-7 col-md-7"><h3 class="name">Michael de Laat</h3><div class="position">Graphic Designer</div><p>Duis
 tortor metus, accumsan in elit eget, porttitor sollicitudin ante. Sed 
in nunc sem. Ut tincidunt libero sed tortor vulputate, sit amet interdum
 urna eleifend. Ut porta justo a mauris aliquam tincidunt.</p>
<ul class="socials"><li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li><li><a href="#"><i class="fa fa-behance fa-lg"></i></a></li><li><a href="#"><i class="fa fa-linkedin fa-lg"></i></a></li><li><a href="#"><i class="fa fa-instagram fa-lg"></i></a></li></ul></div></div></div>		</div>
        	</div>
</section><!--team-->
<section id="blog" class="blog " style="">
	<div class="container">
        <div class="row">
			<div class="col-md-12 heading">			
				<h2 class="title">Latest News<span></span></h2>                <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>			</div>
        </div>
        <div class="row multi-columns-row">
                 
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <article id="post-81" class="post-81 post type-post status-publish format-standard has-post-thumbnail hentry category-tips tag-business tag-experts tag-tips" data-sr-id="33" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; ">
                                <div class="home-blog-entry-thumb">
                                    <a href="http://demo.themely.com/parallel/becoming-an-expert-in-your-field/" rel="bookmark" title="Becoming An Expert In Your Field"><figure class="post-image"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/bg-demo4-720x360.jpg" class="img-responsive wp-post-image" alt="" width="720" height="360"></figure></a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="home-blog-entry-text">
                                    <header>
                                        <h3><a href="http://demo.themely.com/parallel/becoming-an-expert-in-your-field/" rel="bookmark" title="Becoming An Expert In Your Field">Becoming An Expert In Your Field</a></h3>
                                        <div class="home-blog-entry-meta">
                                            <ul class="meta">
                                                <li><i class="fa fa-clock-o"></i>May 9th, 2017</li>
                                                <li><i class="fa fa-bookmark"></i><a href="http://demo.themely.com/parallel/category/tips/" rel="category tag">Tips</a></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, 
consectetur adipiscing elit. Maecenas ac ligula eu justo convallis 
fringilla. Sed fermentum, felis ut cursus…</p>
                                </div>
                        </article>
                        </div>
                 
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <article id="post-79" class="post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-material tag-news tag-reading" data-sr-id="34" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; ">
                                <div class="home-blog-entry-thumb">
                                    <a href="http://demo.themely.com/parallel/just-some-light-reading-material/" rel="bookmark" title="Just Some Light Reading Material"><figure class="post-image"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/bg-demo2-720x360.jpg" class="img-responsive wp-post-image" alt="" width="720" height="360"></figure></a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="home-blog-entry-text">
                                    <header>
                                        <h3><a href="http://demo.themely.com/parallel/just-some-light-reading-material/" rel="bookmark" title="Just Some Light Reading Material">Just Some Light Reading Material</a></h3>
                                        <div class="home-blog-entry-meta">
                                            <ul class="meta">
                                                <li><i class="fa fa-clock-o"></i>April 9th, 2017</li>
                                                <li><i class="fa fa-bookmark"></i><a href="http://demo.themely.com/parallel/category/news/" rel="category tag">News</a></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, 
consectetur adipiscing elit. Maecenas ac ligula eu justo convallis 
fringilla. Sed fermentum, felis ut cursus…</p>
                                </div>
                        </article>
                        </div>
                 
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <article id="post-73" class="post-73 post type-post status-publish format-standard has-post-thumbnail hentry category-advice tag-advice tag-clients tag-meetings" data-sr-id="35" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; transition: transform 0.9s linear 0.05s, opacity 0.9s linear 0.05s; ">
                                <div class="home-blog-entry-thumb">
                                    <a href="http://demo.themely.com/parallel/prepping-for-client-work-and-meetings/" rel="bookmark" title="Prepping For Client Work And Meetings"><figure class="post-image"><img src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/bg-demo3-720x360.jpg" class="img-responsive wp-post-image" alt="" width="720" height="360"></figure></a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="home-blog-entry-text">
                                    <header>
                                        <h3><a href="http://demo.themely.com/parallel/prepping-for-client-work-and-meetings/" rel="bookmark" title="Prepping For Client Work And Meetings">Prepping For Client Work And Meetings</a></h3>
                                        <div class="home-blog-entry-meta">
                                            <ul class="meta">
                                                <li><i class="fa fa-clock-o"></i>March 9th, 2017</li>
                                                <li><i class="fa fa-bookmark"></i><a href="http://demo.themely.com/parallel/category/advice/" rel="category tag">Advice</a></li>
                                            </ul>
                                        </div>
                                    </header>
                                    <p>Lorem ipsum dolor sit amet, 
consectetur adipiscing elit.&nbsp;Aliquam bibendum, libero eu rutrum 
feugiat, urna orci porta magna, id scelerisque neque…</p>
                                </div>
                        </article>
                        </div>
                		</div>
                <div class="row margin-top-30">
			<div class="col-md-12">			
                <p class="text-center"><a href="http://demo.themely.com/parallel/blog" class="btn btn-md btn-inverse">Read the blog →</a></p>			</div>
        </div>
        	</div>
</section><!--blog-->
<!--gmap-->
<section id="newsletter" class="newsletter " style="">
    <div class="blacklayer"></div>        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Newsletter Sign-up Form</h2>                    <p>Lorem ipsum veniam adipisicing cupidatat dolor do adipisicing commodo.</p>                </div>
                                <div class="col-md-4">
                    <script type="text/javascript">(function() {
	if (!window.mc4wp) {
		window.mc4wp = {
			listeners: [],
			forms    : {
				on: function (event, callback) {
					window.mc4wp.listeners.push({
						event   : event,
						callback: callback
					});
				}
			}
		}
	}
})();
</script><!-- MailChimp for WordPress v4.1.2 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-83" method="post" data-id="83" data-name="Newsletter"><div class="mc4wp-form-fields"><div class="form-fields">
 
     <div class="input-group input-group-lg">

         <input name="EMAIL" placeholder="Enter your email" class="form-control" required="" type="email">
 
         <span class="input-group-addon"></span>

         <input value="Subscribe" class="btn btn-default form-control" type="submit">
 
     </div>

</div><div style="display: none;"><input name="_mc4wp_honeypot" tabindex="-1" autocomplete="off" type="text"></div><input name="_mc4wp_timestamp" value="1497688760" type="hidden"><input name="_mc4wp_form_id" value="83" type="hidden"><input name="_mc4wp_form_element_id" value="mc4wp-form-1" type="hidden"></div><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin -->                </div>
                            </div>
        </div>
</section><!--parallax3-->
<section id="contact" class="contact " style="">
<div class="container">
	<div class="row">
		<div class="col-md-12 heading">
			<h2 class="title">Contact<span></span></h2>            <p class="subtitle">Donec nec justo eget felis facilisis fermentum. Aliquam dignissim felis auctor ultrices ut elementum.</p>		</div>
		        <div class="col-md-12 margin-bottom-50">			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi 
volutpat commodo enim aliquet laoreet. Mauris vel egestas erat, vitae 
feugiat ligula. Cras quis commodo ex, consequat consectetur quam. Etiam 
accumsan in nunc vitae bibendum. Curabitur dignissim non nisi quis 
vestibulum. Quisque porta ipsum vitae metus tempus, vel convallis dui 
efficitur. Praesent vitae mattis augue. Curabitur ornare mollis mi, at 
laoreet leo tempor id. Nam ornare erat vel augue tempor pretium. Morbi 
porta pellentesque dolor ullamcorper viverra. Phasellus mattis ipsum 
eget ipsum cursus, id interdum nibh laoreet.</p>
		</div>
                		<div class="col-md-12 margin-bottom-50">
								<div class="col-sm-4 col-md-4 col-lg-4 text-center">
					<p><span class="fa fa-phone fa-3x"></span></p>
					<p>+1 323 456 7891</p>
				</div>
												<div class="col-sm-4 col-md-4 col-lg-4 text-center">
					<p><span class="fa fa-home fa-3x"></span></p>
					<p>1 Pacific Ave, Suite 100
<br>            Santa Monica, CA 90210
<br>            United States</p>
				</div>
												<div class="col-sm-4 col-md-4 col-lg-4 text-center">
					<p><span class="fa fa-envelope fa-3x"></span></p>
					<p>hello@yourwebsite.com</p>
				</div>
						</div>
				        <div class="col-md-12">
			<div role="form" class="wpcf7" id="wpcf7-f5-o1" dir="ltr" lang="en-US">
<div class="screen-reader-response"></div>
<form action="/parallel/#wpcf7-f5-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input name="_wpcf7" value="5" type="hidden">
<input name="_wpcf7_version" value="4.7" type="hidden">
<input name="_wpcf7_locale" value="en_US" type="hidden">
<input name="_wpcf7_unit_tag" value="wpcf7-f5-o1" type="hidden">
<input name="_wpnonce" value="dc36434b14" type="hidden">
</div>
<p><label> Your Name (required)<br>
    <span class="wpcf7-form-control-wrap your-name"><input name="your-name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" type="text"></span> </label></p>
<p><label> Your Email (required)<br>
    <span class="wpcf7-form-control-wrap your-email"><input name="your-email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" type="email"></span> </label></p>
<p><label> Subject<br>
    <span class="wpcf7-form-control-wrap your-subject"><input name="your-subject" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" type="text"></span> </label></p>
<p><label> Your Message<br>
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input value="Send" class="wpcf7-form-control wpcf7-submit" type="submit"><span class="ajax-loader"></span></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>		</div>
        	</div>
</div>
</section><!--contact-->


        <section class="copyright" style="">

            <div class="container">

                <div class="row">

                    <div class="col-md-6">

                        <div class="copyrightinfo">

                            <p>
                                
                                © 2017 All Rights Reserved | Saphire <a href="#" target="_blank">Travel</a> | Made with <img draggable="false" class="emoji" alt="❤" src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/2764.svg"> by <a href="https://www.themely.com/" target="_blank">Varshney Corp.</a>
                                                            </p>

                        </div>

                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6">
                       <ul class="socials pull-right">
                            <li><a target="_blank" href="#"><i class="fa fa-facebook fa-lg"></i></a></li> 
                            <li><a target="_blank" href="#"><i class="fa fa-twitter fa-lg"></i></a></li> 
                            <li><a target="_blank" href="#"><i class="fa fa-google-plus fa-lg"></i></a></li> 
                            <li><a target="_blank" href="#"><i class="fa fa-github fa-lg"></i></a></li> 
                            <li><a target="_blank" href="#"><i class="fa fa-behance fa-lg"></i></a></li>                            <li><a target="_blank" href="#"><i class="fa fa-linkedin fa-lg"></i></a></li>                            <li><a target="_blank" href="#"><i class="fa fa-instagram fa-lg"></i></a></li>                            <li><a target="_blank" href="#"><i class="fa fa-youtube fa-lg"></i></a></li>                        </ul>

                    </div>

                </div>

            </div>

        

        </section>

        <script type="text/javascript">(function() {function addEventListener(element,event,handler) {
	if(element.addEventListener) {
		element.addEventListener(event,handler, false);
	} else if(element.attachEvent){
		element.attachEvent('on'+event,handler);
	}
}function maybePrefixUrlField() {
	if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
		this.value = "http://" + this.value;
	}
}

var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
if( urlFields && urlFields.length > 0 ) {
	for( var j=0; j < urlFields.length; j++ ) {
		addEventListener(urlFields[j],'blur',maybePrefixUrlField);
	}
}/* test if browser supports date fields */
var testInput = document.createElement('input');
testInput.setAttribute('type', 'date');
if( testInput.type !== 'date') {

	/* add placeholder & pattern to all date fields */
	var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
	for(var i=0; i<dateFields.length; i++) {
		if(!dateFields[i].placeholder) {
			dateFields[i].placeholder = 'YYYY-MM-DD';
		}
		if(!dateFields[i].pattern) {
			dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
		}
	}
}

})();</script>
<!--[if lte IE 9]>
<script type='text/javascript' src='http://demo.themely.com/parallel/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.1.2'></script>
<![endif]-->

<script src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/1e42d24822062de3983b045835ae3bc543d7fa95.js" type="text/javascript" charset="utf-8" async="async"></script>
        <script type="text/javascript">
jQuery(document).ready(function($){

	 $('#welcome').parallax("50%", 0.4); 			 $('#calltoaction').parallax("50%", 0.4); 	
		$(".project-gallery").slick({
			dots: true,
			autoplay: true,
			autoplaySpeed: parseInt(7)*1000,
			arrows: false,
			pauseOnHover: true,
			infinite: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			responsive: [{
		      breakpoint: 979,
		      settings: {
		        slidesToShow: 1,
		      }
		    }, {
		      breakpoint: 767,
		      settings: {
		        slidesToShow: 1,
		      }
		    }]
		});

		$(".testimonial-slider").slick({
			dots: true,
			autoplay: true,
			autoplaySpeed: parseInt(7)*1000,
			arrows: false,
			pauseOnHover: true,
			infinite: true,
			slidesToShow: parseInt(3),
			slidesToScroll: parseInt(3),
			responsive: [{
		      breakpoint: 979,
		      settings: {
		        slidesToShow: 2,
		      }
		    }, {
		      breakpoint: 767,
		      settings: {
		        slidesToShow: 1,
		      }
		    }]
		});

		$(".clients-slider").slick({
			dots: false,
			autoplay: true,
			autoplaySpeed: parseInt(3)*1000,
			arrows: false,
			pauseOnHover: true,
			infinite: true,
			slidesToShow: parseInt(6),
			slidesToScroll: parseInt(1),
			responsive: [{
		      breakpoint: 979,
		      settings: {
		        slidesToShow: 3,
		      }
		    }, {
		      breakpoint: 767,
		      settings: {
		        slidesToShow: 1,
		      }
		    }]
		});

		$('.counter').counterUp({
            delay: 50,  // The delay in which the stats counter will start 
            time: 2000  // The speed by which the stats counter counts up (in milliseconds)
        });
})	
</script>

<!-- Scroll Reveal START -->
<script type="text/javascript">
    // Changing the defaults
    window.sr = ScrollReveal({ reset: false });
    // Customizing a reveal set
    sr.reveal('.page-template-template-home .hero .col-md-12 > div', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
    sr.reveal('.page-template-template-home .features .feature', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
    sr.reveal('.page-template-template-home .project-single .project', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
    sr.reveal('.page-template-template-home .projects-grid .grid', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
    sr.reveal('.page-template-template-home .services .service', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
    sr.reveal('.page-template-template-home .pts .pt', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
    sr.reveal('.page-template-template-home .team .member', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
    sr.reveal('.page-template-template-home .blog article', {
        duration: 900,
        delay: 50,
        origin: 'bottom',
        distance: '20px',
        scale: 1,
        easing: 'linear',
        viewFactor: 0.25
    }, 150);
</script>
<!-- Scroll Reveal END -->
        
<!--Custom Footer Code Start-->

<!--Custom Footer Code End-->
