<!DOCTYPE html>
<html>
<head>
  <title>SaphireOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home page-template page-template-template-home page-template-template-home-php page page-id-6 _masterslider _ms_version_2.9.8" style="overflow-x: hidden;">

<%= yield %>
<script src="_%20Parallel%20%E2%80%93%20WordPress%20Theme%20Demo_files/webfont.js" type="text/javascript" async=""></script><script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
<title>// Parallel – WordPress Theme Demo</title>
	<script>
	    /* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
	    if ( typeof WebFontConfig === "undefined" ) {
	        WebFontConfig = new Object();
	    }
	    WebFontConfig['google'] = {families: ['Montserrat:400']};

	    (function() {
	        var wf = document.createElement( 'script' );
	        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
	        wf.type = 'text/javascript';
	        wf.async = 'true';
	        var s = document.getElementsByTagName( 'script' )[0];
	        s.parentNode.insertBefore( wf, s );
	    })();
</script>
</body>
</html>
